* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  /* position: fixed;
  top: 0;
  right: 0; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 70vh;
  padding: 20px;
  z-index: 10;
  padding: 20px 80px 0 80px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(255, 255, 255, 0.1) 90%,
      rgba(255, 255, 255, 1)
    ),
    url(/assets/img/hero_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header h3 {
  color: white;
}

.container_hamburger {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

nav {
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 15px 20px;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav ul li a {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  padding: 5px 7px;
  border-radius: 5px;
  color: white;
}

nav ul li:hover a {
  color: #292929;
  background-color: #cac7c7;
}

nav.show {
  display: block;
  top: 90px;
}

nav.show ul {
  flex-direction: column;
  gap: 20px;
}

nav.show ul li a {
  display: flex;
  justify-content: center;
}

nav.active {
  box-shadow: 0px 0px 20px;
}

nav.active ul li a {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.container-welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.container-welcome h1 {
  font-size: 40px;
  color: white;
  font-weight: 600;
}

.container-welcome button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.3);
  border: 3px solid blue;
  cursor: pointer;
  color: white;
}

main {
  margin: 0 80px;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  padding-top: 50px;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container-content h1{
  margin-bottom: 10px;
}

#contentDestinasi {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 150px;
  height: 200px;
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card h5 {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
  font-size: 14px;
  width: max-content;
  background-color: rgba(136, 136, 136,.7);
  padding: 5px 10px;
  border-radius: 5px;
}

.container-article {
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.container-article:not(:first-child) {
  margin: 50px 0;
}

.container-article h2 {
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.container-article:nth-child(odd) .container {
  flex-direction: row-reverse;
}

.container-article:nth-child(even) .container {
  flex-direction: row;
}

.container img {
  border-radius: 10px;
}

.container p {
  line-height: 1.4;
}

.container a {
  color: blue;
}

aside {
  width: 100%;
  height: 100%;
  background: #ff7b2f;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #fff;
}

aside img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

footer {
  margin-top: 20px;
  background-color: #eee;
  padding: 20px 80px;
}

footer a {
  color: blue;
}

footer p:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 965px) {
  nav {
    width: 90%;
  }

  header {
    padding: 20px 30px 20px 30px;
  }

  .container {
    align-items: center;
    flex-direction: column !important;
  }

  .container img {
    width: 100%;
  }
}

@media (max-width: 840px) {
  main {
    flex-direction: column-reverse;
    gap: 10px;
  }
}

@media (max-width: 525px) {
  .container-welcome {
    align-items: start;
  }

  .container-welcome h1 {
    font-size: 30px;
  }

  main {
    margin: 0 20px;
  }

  .hamburger {
    display: flex;
  }

  nav {
    display: none;
  }

  footer {
    padding: 5px 20px;
  }
}
